.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
margin-right: 20px;
}

.profile__column {
display: flex;
flex-direction: column;
}

.profile__name {
    margin: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
}

.profile__description {
    margin: 12px 0 0;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.profile__edit-button {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-top: auto;
    border: none;
    background-color: #FCF5E5;
    color: #212121;
    opacity: 70%;
    display: flex;
    gap: 8px;
}

.profile__edit-button:hover {
    cursor: pointer;
    color:black;
}

.profile__post-button {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-left: auto;
    align-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 149px;
    max-height: 52px;
    background-color: #212121;
    color: #fff;
    white-space: nowrap;
    padding: 20px 32px;
    border-radius: 6px;
}

.profile__post-button:hover {
    cursor: pointer;
    background-color: rgba(33, 33, 33, 0.8);
}